<nav 
    class="navbar navbar-dark bg-dark mb-0"
    *ngIf="!displayForm"
>
        <div class="container">
            <span class="navbar-brand">Covid Self-Report</span>
        </div>
    </nav>


<!-- <app-map></app-map> -->
<app-leaflet-map
    class="mt-0"
    *ngIf="!displayForm"
    [placesInput]="places"
></app-leaflet-map>

<app-form-page
    *ngIf="displayForm"
    [placesInput]="places"
    (newPerson)="handleAddNewPerson($event)"
    (displayHomePage)="displayHomePage()"
></app-form-page>

<app-table
    *ngIf="!displayForm"
    [peopleInput]="people"
    (removeId)="handleRemoveButton($event)"
    (infoId)="handleInfoButton($event)"
></app-table>

<app-new-report-button
    *ngIf="!displayForm"
    (report)="handleNewReportButton($event)"
></app-new-report-button>
